@import url('./global.css');

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
}

.box-content {
    background-color: transparent;
}

#chat-box {
    z-index: 2;
    width: 90vw;
    max-width: 700px;
    max-height: 62vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-box::-webkit-scrollbar {
    display: none;
}

.message {
    position: relative;
    width: fit-content;
    min-width: 175px;
    max-width: 500px;
    margin-bottom: 4px;
    padding: 28px 14px 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: none;
    text-align: left;
    color: white;
    background: black;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.596));
}

.username {
    position: absolute;
    top: -10px;
    padding: 2px 6px;
    font-family: GasFont;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: var(--color-main);
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.members-online {
    width: 175px;
    height: fit-content;
    background-color: transparent;

}

.online-title {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 6px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: rgb(10, 134, 10);
    color: rgb(40, 207, 40);
    border: 2px solid var(--color-pale);
    border-radius: 4px;
    animation: neon-online 1.15s ease-in-out infinite;
}

.online-member {
    margin: 4px 0;
    padding: 2px 0;
    font-family: GasFont;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 4px;
}

.interactive-menu {
    min-width: 220px;
    flex-basis: 0;
    background-color: blue;
}

textarea {
    resize: none;
}

.chat-input {
    width: 90vw;
    height: 20vh;
    max-width: 500px;
    min-height: 73px;
    max-height: 150px;
    margin-bottom: 10vh;
    padding: 24px;
}

.chat-input:focus {
    outline: var(--color-main);
}


/************* MEDIA QUERIES **************/
@media (max-width: 1000px) {
    
    .interactive-menu {
        display: none;
    }
}


@media (max-width: 764px) {

    .members-online {
        display: none;
    }
}

/************* ANIMATIONS **************/
@keyframes neon-online {
    0% {color: rgb(10, 134, 10);}
    50% {
        color: rgb(40, 207, 40);
        text-shadow: 0px 0px 3px rgb(40, 207, 40);
    }
    100% {color: rgb(10, 134, 10);}
}