@import url('./global.css');

body {
    font-size: 16px;
}

.wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
}

.box-content {
    background-color: transparent;
}

#chat-box {
    width: 90vw;
    max-width: 700px;
    max-height: 700px;
    overflow: auto;
}

.message {
    position: relative;
    margin-bottom: 4px;
    padding: 24px 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: none;
    text-align: left;
    color: white;
    background: black;
}


textarea {
    resize: none;
    width: 90vw;
    height: 20vh;
    max-width: 500px;
    max-height: 200px;

}

.chat-input {
    margin-bottom: 4vh;
    padding: 24px;
}

.username {
    position: absolute;
    top: -10px;
    padding: 2px 6px;
    font-family: GasFont;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: var(--color-main);
    /* text-shadow: 0px 1px var(--color-accent); */
    border: 2px solid #ffffff;
    border-radius: 4px;
}