* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: GasFont;
    src: url(../fonts/gasfont.ttf);
}

:root {
    --color-main: #9674bc;
    --color-secondary: #6b33a9;
    --color-pale: #b08ad8;
    --color-dark: #1e1753;
    font-family: GasFont, monospace;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-main);
}

body {    
    background-image: url(../img/background/background-night-sky.png);
    background-repeat: repeat-x;
    background-color: var(--color-dark);
    overflow: hidden;
    overflow: hidden;
}

a {
    color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrapper-index {
    /* background-image: url(../img/background/background-night-sky.png);
    background-repeat: repeat-x;
    background-color: var(--color-dark); */

    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.client-welcome-title {
    z-index: 2;
    width: fit-content;
    margin: 0 auto 36px auto;
    font-size: 32px;
    color: var(--color-secondary);
    text-shadow: 0px 3px var(--color-pale);
}

.box-content {
    z-index: 2;
    margin: 0 auto 25vh;
    padding: 16px;
    text-align: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.308);
}

.white-border {
    border: 4px solid #ffffff;
    border-radius: 4px;
}

.box-content a {
    color: var(--color-main);
    text-decoration: none;
}

.box-content a:hover {
    color: #fff;
}

.sign-in-input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-in-input-group input {
    height: 32px;
    padding: 2px;
    border: 3px solid var(--color-main);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.11);
    color: #fff;
}

.sign-in-input-group input:focus {
    outline: none;
    border: 3px solid #fff;
    background-color: var(--color-main);
    color: #fff;
}

.sign-in-input-group input:focus::placeholder {
    color: var(--color-dark);
}

.sign-in-input-group button {
    height: 48px;
    font: inherit;
    border: none;
    border-bottom: 3px solid var(--color-secondary);
    outline: inherit;
    border-radius: 4px;
    background-color: var(--color-main);
    color: var(--color-dark);
    text-transform: uppercase;
    cursor: pointer;
}

.sign-in-input-group button:hover {
    border-bottom: 3px solid var(--color-main);
    background-color: var(--color-secondary);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
    gap: 48px;
    color: white;
}

.footer-item {
    z-index: 2;
    position: relative;
}


.footer-item:hover {
    cursor: pointer;
    animation: uplift 0.2s 1 ease forwards;
}

.star {
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    animation: twinkle 0.8s 1 ease-in-out forwards;
}

.UFO {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../img/sprites/skyrunner.gif');
}

.UFO-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    font-size: 24px;
    letter-spacing: 3px;
    color: var(--color-main);
    text-shadow: 0px 3px var(--color-secondary);
    border-radius: 3px;
    /* background-color: #6b33a9; */

}

/* ANIMATIONS */
@keyframes uplift {
    0% {transform: translateY(0); text-shadow: 0px 0px transparent;}
    100% {transform: translateY(-10px); text-shadow: 0 3px var(--color-main);}
}

@keyframes twinkle {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}