* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(../img/background/background-night-sky.png);
    background-repeat: repeat-x;
    /* background-position: bottom; */
    background-color: #1e1753;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.box-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto 25vh;
    padding: 16px;
    text-align: center;
    gap: 15px;

    border: 4px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.308);
}

.sign-in-input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}