@use '_gb-mixins.scss' as *;
@import "global.css";

@mixin hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
};

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
}

.chat-app-center-container {
    width: fit-content;
    justify-content: space-around;
    height: 65vh;
}

#chat-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 650px;
    margin-bottom: 25px;
    padding: 16px;
    gap: 15px;
    text-align: center;
    border: none;
    @include hide-scrollbar; 
}

.message {
    position: relative;
    width: fit-content;
    min-width: 175px;
    margin-bottom: 4px;
    padding: 28px 14px 14px;
    text-align: left;
    @include dialog-box;
    &:hover {
        animation: uplift-message 0.1s 1 ease forwards;
    }
}

.username {
    position: absolute;
    top: -10px;
    padding: 2px 6px;
    font-family: GasFont;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: var(--color-main);
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.members-online {
    position: relative;
    // width: fit-content;
    height: fit-content;
    min-width: 150px;
    max-height: 62vh;
    margin-bottom: 4px;
    padding: 40px 14px 14px;
    flex-wrap: wrap-reverse;
    gap: 5px;
    background-color: transparent;
}

.online-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: rgb(10, 134, 10);
    color: rgb(40, 207, 40);
    border: 2px solid var(--color-pale);
    border-radius: 4px;
    animation: neon-online 1.15s ease-in-out infinite;
}

.online-member {
    position: relative;
    width: 100%;
    padding: 2px 0;
    font-family: GasFont;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark);
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        animation: uplift-online-member 0.1s 1 ease forwards;
    }

    &:active {
        animation: uplift-online-member 0.1s 1 ease-out;
        color: var(--color-main);
        border-color: var(--color-main);
    }
}

.interactive-panel {
    min-width: 175px;
    // flex-direction: column-reverse;
    padding: 14px 14px;
    gap: 8px;
}

textarea {
    resize: none;
}

.text-input-area {
    height: 25vh;
    align-items: center;
    justify-content: center;
    gap: 5px;

    button {
        display: none;
        @include small-btn-style;
    }
}

.text-input {
    width: 90vw;
    height: 20vh;
    max-width: 500px;
    min-height: 74px;
    max-height: 175px;
    margin-bottom: 10vh;
    padding: 24px;
    @include dialog-box;

    &:focus {
        outline: var(--color-main);
    }
}

/************* MEDIA QUERIES **************/
@media (max-width: 960px) {
    .chat-app-center-container {
        width: 100%;
    }
}

@media (max-width: 764px) {
    #chat-container {
        margin-bottom: 8px;
    }

    .interactive-panel {
        display: none;
    }

    .members-online {
        display: none;
    }

    .chat-app-center-container {
        height: 63vh;
    }

    .text-input-area {
        button {
            display: inline-block;
        }
    }
}

@media (max-height: 400px) {
    .text-input-area {
        button {
            display: none;
        }
    }
}

@media (max-height: 220px) {
    .chat-app-center-container {
        height: 100%;
    }

    .text-input-area {
        display: none;
    }
}

/************* ANIMATIONS **************/
@keyframes uplift-message {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0px, -4px); filter: drop-shadow(0px 4px 0px var(--color-main));}
}

@keyframes uplift-online-member {
    0% {transform: translate(0, 0);}
    100% {transform: translate(0px, -4px); filter: drop-shadow(0px 4px 0px var(--color-accent));}
}

@keyframes neon-online {
    0% {color: rgb(10, 134, 10);}
    50% {
        color: rgb(40, 207, 40);
        text-shadow: 0px 0px 3px rgb(40, 207, 40);
    }
    100% {color: rgb(10, 134, 10);}
}