@use '_gb-mixins.scss' as *;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: GasFont;
    src: url(../fonts/gasfont.ttf);
}

:root {
    --color-main: #9674bc;
    --color-secondary: #6b33a9;
    --color-pale: #b08ad8;
    --color-dark: #1e1753;
    --color-accent: #cf9c5a;
    font-family: GasFont, monospace;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-main);
}

body {    
    background-color: var(--color-dark);
    overflow: hidden;
}

a {
    color: white;
}

.wrapper {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.client-welcome-title {
    z-index: 2;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--color-secondary);
    text-shadow: 0px 3px var(--color-accent);
}

.client-welcome-subtitle {
    width: 240px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px -1px var(--color-accent);
    text-transform: none;

    span {
        line-height: 20px;
        color: var(--color-accent);
    }
}

.client-register-subtitle {
    margin-bottom: 24px;
    white-space: pre-line;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 42px;
    color: var(--color-secondary);
    text-shadow: 0px 2px var(--color-accent);

    span {
        color: var(--color-accent);
        text-shadow: 0px 2px var(--color-secondary);
    }
}

.box-content {
    z-index: 2;
    margin-bottom: 20px;
    padding: 16px;
    text-align: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.308);
    @include white-border;

    a {
        color: var(--color-main);
        text-decoration: none;
    }
    
    a:hover {
        color: #fff;
    }
}

.pyjama-party-welcome {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        height: 32px;
        padding: 2px;
        border: 3px solid var(--color-main);
        border-radius: 4px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.11);
        color: #fff;
    }

    input:focus {
        outline: none;
        border: 3px solid #fff;
        background-color: var(--color-main);
        color: #fff;
    }

    input:focus::placeholder {
        color: var(--color-dark);
    }
}

button {
    @include btn-style;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 20vh;
    gap: 48px;
    color: white;
}

.footer-item {
    z-index: 2;
    height: 150%;
    align-self: flex-end;

    &:hover {
        cursor: pointer;
        animation: uplift-footer-item 0.2s 1 ease forwards;
    }
}

/******************* SPRITES *********************/
.star {
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    animation: twinkle 0.8s 1 ease-in-out forwards;
}

.UFO {
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../img/sprites/skyrunner.gif');
}

.UFO-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    font-size: 16px;
    letter-spacing: 3px;
    color: var(--color-accent);
    text-shadow: 0px 3px var(--color-secondary);
    border-radius: 3px;
}

.UFO-moving-particle {
    position: absolute;
    width: 6px;
    height: 6px;
    transform: translateX(50%);
    background-color: rgb(255, 255, 255);
    animation: moving-particle 1.75s 1 ease-in-out forwards;
}

/************* ANIMATIONS **************/
@keyframes uplift-footer-item {
    0% {transform: translateY(0); text-shadow: 0px 0px transparent;}
    100% {transform: translateY(-10px); text-shadow: 0 3px var(--color-accent);}
}

@keyframes twinkle {
    0% {opacity: 0;}
    30% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes moving-particle {
    0% {opacity: 1;}
    40% {opacity: 0.08;}
    100% {opacity: 0;}
}