@use '_gb-mixins.scss' as *;
@import "global.css";

.register-box-content {
    @include box-content;
    
    a {
        margin-top: 10px;
    }
}

.register-title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 42px;
    color: var(--color-secondary);
    text-shadow: 0px 2px var(--color-accent);

    span {
        color: var(--color-accent);
        text-shadow: 0px 2px var(--color-secondary);
    }
}

.register-subtitle {
    @include client-subtitle;
}

#sleeping-boy {
    position: relative;
    top: 8px;
    width: 425px;
    height: 340px;
    margin: 0 -5px 0 5px;
    background-size: cover;
    align-self: center;
    background-position: (10%);
    background-image: url('../img/background/ness_sleeps2.jpg');
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.76);
    filter: drop-shadow(0px 0px 3px var(--color-main)) brightness(1.1);
}

#gift {
    position: absolute;
    // top: 282px;
    // left: 120px;
    top: 160px;
    left: 210px;
    width: 36px;
    height: 36px;
    background-image: url('../img/sprites/gift1.png');
    background-size: cover;
    filter: brightness(0.8);
    cursor: pointer;
}

/************* MEDIA QUERIES *************/
@media (max-width: 764px) {
    #sleeping-boy {
        display: none;
    }
}

@media (max-height: 650px) {
    .register-box-content {
        position: relative;
        top: -35px;
        margin-bottom: 10px;
        padding: 8px 16px;
    }
   
    .register-title {
        position: relative;
        top: -25px;
        font-size: 24px;
    }

    .register-subtitle {
        display: none;
    }

    footer {
        font-size: 16px;
    }
}

@media (max-height: 550px) {
    .register-title {
        font-size: 18px;
    }

    #sleeping-boy {
        display: none;
    }
}